<div class="content">
    
    <div class="container">
      <h2 class="mb-5">Insulin calendar</h2>

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">
                order
              </th>
              <th scope="col">Insulin</th>
              <th scope="col">Sugar Level After Two Hours</th>
              <th scope="col">Sugar Level Before Meal</th>
              <th scope="col">Total Carb Grams</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let item of scales;let i= index">
              <td>
              {{i +1}}
              </td>
              <td>
                {{item.insulin}}
                <!-- <small class="d-block">Far far away, behind the word mountains</small> -->
              </td>
              <td>{{item.sugarLevelAfterTwoHours}}</td>
              <td>{{item.sugarLevelBeforeMeal}}</td>
              <td>{{item.totalCarbGrams}}</td>
              <td>{{item.dateTime}}</td>
              <td><a href="#" class="more">Details</a></td>
            
            </tr>            
          </tbody>
        </table>
      </div>


    </div>

  </div>